* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/img/FondoNoche.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.centrar-container {
    margin-top: 10%;
}

.linea-divisora {
    color: white;

}

.size-cards {
    width: 60%;
    margin: 0 auto;
}

.trash-icono_cursor {
    cursor: pointer;
}

.check-icono_color {
    color: orange;
}

.check-icono_color:hover {
    color: greenyellow;
}

.clock-icono_size {
    font-size: 12px;
}